[package]
name = "devcycle-bucketing-rs"
version = "0.1.0"
edition = "2021"

[dependencies]
fasthash = { version = "0.4.0"}
regex = "1.10.6"
serde = { version = "1.0.210", features = ["derive"] }
chrono = "0.4.38"
serde_json = "1.0.128"
